<div class="row">
    <div class="col-md-4 m-auto">
  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputname"
        placeholder="Enter your name"
      />
    </div>
    <textarea name="" id="text" cols="30" rows="10"placeholder ="Enter Quote"></textarea>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputauthor"
        placeholder="Enter author"
      />
    </div>
  </form>
</div>
</div>
