.jumbotron {
  align-content: center;
  text-align: center;
  background-image: url("https://bit.ly/2LdMqHO");
  color: blue;
  margin-bottom: 0;
  font-size: 50px;
}

#two {
  background-image: url("https://bit.ly/2LdMqHO");
}

#lol {
  justify-content: center;
}

#cre {
  color: burlywood;
}

#crd {
  border: 1px;
  border-style: outset;
  width: 800px;
  margin-bottom: 10px;
  font-style: italic;
}

#small {
  font-variant: small-caps;
  font-size: 13px;
  align-content: space-around;
}

#ppp {
  padding: 0.1;
  font-size: 18px;
  color: peru;
}

#hut {
  padding: 0;
  margin: 0;
}

#one {
  align-content: center;
  text-align: center;
  background-image: url("/assets/free.jpg");
  color: burlywood;
  font-size: 16px;
}

.btn {
  padding: 4px;
  margin: 4px;
  border: none;
  color: white;
  width: 150px;
  font-variant: small-caps;
  font-size: 13px;
}
