body {
  background-color:black;
}
form {
  margin: 0 auto;
  justify-content: center;
  text-align: 1.5px;
  border-radius: 1.5px;
}
textarea {
  width: 100%;
  border-radius: 1.5px;
}
button {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 3%;
  list-style-type: none;
  flex-wrap: wrap;
}
li {
  /* width: 50%; */
  background-color: url("https://bit.ly/2LdMqHO");
  text-align: center;
  /* display: block; */
  font-size: 2em;
  /* margin: 0 auto; */
  border-radius: 0.5em;
  width: 30%;
}

.fa {
  padding: 10px;
  /* background-color: beige; */
}

.like {
  color: green;
}
.dislike {
  color: brown;
}

.quote {
  color: navy;
  font-weight:bolder;
}
