body {
  background-color: lightblue;
}
form {
  margin: 0 auto;
  justify-content: center;
  text-align: 1.5px;
  border-radius: 1.5px;
}
textarea {
  width: 100%;
  border-radius: 1.5px;
}
button{
    text-align: center;
}
li{
    width: 50%;
    background-color:peru;
    text-align: center;
    display: block;
    font-size: 2em;
    margin: 0 auto;
    border-radius: 0.5em;
}